@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;600&family=Montserrat:wght@400;500;700&display=swap");
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  
  /* min-height: 100vh; */
  flex-direction: column;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  /* background-image: url("https://i.ibb.co/ZRDrdvs/natural-4821583.png"); 
  background-repeat: no-repeat;
  background-size: cover; */
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.wrapper {
  height: 100vh;
  /* display: flex; */
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 100%;
  justify-content: space-between;
  align-content: space-around;
  
  min-height: 100%;
  background: url(https://i.ibb.co/ZRDrdvs/natural-4821583.png) no-repeat;
  background-attachment: local;
  /* background-position: center center ; */
  background-size: cover;
  
}

/* @media(max-width: 730px) {
  .wrapper {
    max-width: auto;
    overflow: hidden;
  }
} */

search-city {
  z-index: 10;
}

.search-bar {
  display: flex;
  justify-content: center;
  width: 85%;
  margin: 0px auto;
  margin-bottom: 10%;
}

.input-search {
  display: block;
  width: 100%;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: -10px;
  z-index: 100;
}

.button-search-city {
  border-radius: 10px;
}

.current-weather {
  color: white;
  display: flex;
  max-width: 225px;
  margin: 50px auto 37px;
  align-items: center;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  background-color: rgba(5, 5, 28, 0.55);
}

.current-weather h1 {
  font-weight: 700;
  font-size: 50px;
  margin-top: -20px;
}

.current-weather h4 {
  font-weight: 700;
  font-size: 18px;
}

.current-weather h5 {
  font-weight: 700;
  font-size: 16px;
}

.current-weather-details-link {
  color:rgba(255, 255, 255, 0.5);
  text-align: right;
  font-size: 14px;
  cursor: pointer;
  margin-top: 20px;
  padding-left: 100px;
  text-decoration: none;
}

@media(max-height: 740px) {
  .current-weather {
    max-width: 200px;
    /* margin: 0px auto 0px; */
  }

  .current-weather h1 {
    font-weight: 700;
    font-size: 35px;
    margin-top: -20px;
  }
  
  .current-weather h4 {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .current-weather h5 {
    font-weight: 700;
    font-size: 14px;
  }

  .current-weather p {
    font-size: 12px;
  }
  
  .current-weather-details-link {
    font-size: 12px;
  }
}


/* Прогноз погоды */

.forecast-weather {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* overflow: auto; */
  white-space: nowrap;
  /* min-width: 1000px; */
}

.forecast-day-weather {
  display: flex;
  width: 150px;
  height: 200px;
  color: white;
  align-items: center;

  flex-direction: column;
  margin: 20px 20px 20px 20px;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  background-color: rgba(5, 5, 28, 0.55);
}

.forecast-day-weather img {
  width: 50%;
}
.forecast-day-weather p {
  font-weight: 700;
  font-size: 18px;
}
.forecast-day-weather h1 {
  margin-top: -10px;
  font-weight: 700;
  font-size: 25px;
}

.forecast-day-weather h4 {
  display: block;
  white-space: pre-wrap;
  height: 50px;
  text-align: center;
}

@media (max-width: 730px) {
  .forecast-weather {
    overflow: scroll;
    width: 360px;
    flex-wrap: nowrap;
    justify-content: unset;
    padding-left: 30px
  }
  .forecast-day-weather {
    width: 80px;
    height: auto;
  }
  .forecast-day-weather h4 {
    font-size: 10px;
  }
}



@media(min-height: 740px) {
  .forecast-weather {
    width: 360px;
    margin-top: 40%;
  }
}


/* аккордион с прогнозом погоды */
/* 
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: calc(100vw - 40px);
  padding: 20px;
}

.accordion {
  width: 100%;
}

.accordion-forecast-weather {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  margin: 15px 0;
}

.accordion-forecast-weather__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(5, 5, 28, 0.55);
  color: #fff;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 400;
  padding: 15px 20px;
  cursor: pointer;
  margin: 0;
  transition: 0.2s ease;
  font-size: 14px;
}

@media (min-width: 730px) {
  .accordion-forecast-weather__title {
    font-size: 18px;
  }
  .search-bar {
    margin-bottom: 5%;
  }
}

.accordion-forecast-weather__title:hover {
  background: #2d6cf9;
  transition: 0.2s ease;
}

.accordion-forecast-weather__content {
  color: rgba(0, 0, 0, 0.65);
  line-height: 1.7em;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s ease;
  font-size: 14px;

}

@media (min-width: 730px) {
  .accordion-forecast-weather__content {
    font-size: 16px;
  }
}

.accordion-forecast-weather__content.is-open {
  max-height: 1200px;
  transition: 0.5s ease;
}

.accordion-forecast-weather__content-inside {
  /* min-width: 1000px; */
  /* padding: 15px 20px;
}

.rotated {
  transform: rotate(90deg);
}  */

.search-logo {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 300px;
  height: 300px;
}

.search-logo h3 {
  color: #fff;
  font-weight: 700;
  font-size: 26px;
}

@media(max-width: 769px) {
  .search-logo {
    width: 200px;
    height: 200px;
  }

  .search-logo h3 {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
  }

  .search-bar {
    margin-bottom: 20%;
  }
  
}

/* @media(max-height: 740px) {
  .search-bar {
    margin-bottom: 13%;
  }
} */

@media(min-width: 1240px) {
  .search-bar {
    margin-bottom: 0px;
  }

  .current-weather {
    margin-top: 20px;
    margin-bottom: 0px;
  }
}

.error-message {
  display: block;
  color: #fff;
  font-weight: 700;
  font-size: 26px;
  padding: 0 auto;
}

@media(max-width: 769px) {
  .error-message {
    font-weight: 700;
    font-size: 18px;
  }
}


/* детальная информация о погоде */
.wrapper-detail-information {

  min-width: 100%;
  min-height: 100%;
  background: url(https://i.ibb.co/ZRDrdvs/natural-4821583.png) no-repeat;
  background-attachment: local;
  /* background-position: center center ; */
  background-size: cover;
  color: #fff;
  
}

.detail-information {
  display: flex;
  height: 100vh;
  min-height: 100%;
  /* padding: 200px ; */
  justify-content: center;
  align-items: center;
}

.left-column_information {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  margin-right: 50px;
  border-right: 1px solid white;
  justify-content: center;
  align-items: center;
}


.weather-icon img{
  display: block;
  width: 300px;
  height: 300px;
}

.detail-temperature .temperature {
  color: #ffff;
  font-size: 60px;
  line-height: 1.1em;
}

.link-to-home {
  display: block;
  margin-top: -24px;
}

.link-to-home-title {
  color: white;
  text-decoration: none;
}

.right-column_information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.information-parametr {
  display: flex;
  justify-content: center;
  align-items:center;
}


.information-parametr p {
  display: inline-block;
  margin-left: 10px;
  font-weight: 500;
  line-height: normal;
}




@media (max-width: 730px) {

  .left-column_information {
    margin-right: 0px;
    margin-top: -10px;
    margin-bottom: 20px;
    border-right: none;
    height: 140px;
  }
    
  .detail-information {
    flex-direction: column;
    justify-content: space-around;
  }

  .weather-icon img{
    /* margin-top: -50px; */
    width: 200px;
    height: 200px;
  }

  .detail-temperature .temperature {
    line-height: 0.7em;
  }
}